<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ToDos">

 <test name="ToDosActions">
         <parameter name="dataPath" value="./src/test/java/testData/TC01.properties"/>
        <classes>
            <class name="testScripts.TC01_ToDos"/>
        </classes>
    </test>

</suite>